:root{
  --body-width:900px;

  --light-background-color:white;
  --dark-background-color:#f7f7f7;
  --menu-color:#f0f0f0;

  --lightest-element-color:#e8e8e8;
  --light-element-color:#d6d6d6;
  --dark-element-color:#a6a6a6;

  --dark-text-color:black;
  --medium-text-color:rgba(0,0,0,0.7);
  --light-text-color:#8a8a8a;
  --name-color:#fcfcfc;

  --highlight-color:#007dd1;

  --normal-font-size: 16px;;
  --heading-font-size: calc((1vw)*0.6 + 10px);
  --section-heading-font-size: calc((1vw)*0.6 + 18px);
}

html{
    background: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#menu-bar{
  z-index: 2;
  position: fixed;
  background-color: var(--dark-background-color);
  top:0;
  left:0;
  width: 100%;
  padding: 6px;
  opacity: 0.9;
}
.menu-link{
  display: inline;
  text-align: center;
  padding-left: 6px;
  padding-right: 6px;
  width: 20%;

  cursor:pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#home-icon{
  opacity: 0.6;
  padding-right: 5px;
  margin-bottom: -2px;
  height: var(--heading-font-size);
}
#menu-underline{
    position: absolute;
    height: 4px;
    margin:0;
    background: var(--highlight-color);
    padding: 0;
    transition: .3s ease-in-out;
}

body{
  font-size: var(--normal-font-size);
  font-family: "Open+Sans",sans-serif;
  text-decoration: none;
  font-weight: Regular;
  padding: 0;
  margin: 0;
}
#body-content{
  padding: 0;
}

.body-section{
  width: 100%;
  z-index: 1;
  margin: 0;
  overflow: hidden;
}
.text-container{
  max-width:var(--body-width);
  z-index: 1;
  padding:0;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  color: var(--light-text-color);
}
.inline-object{
  width: 100%;
  margin: 10px;
}

#Homepage-Section{
  height:100vh;
  background-image: url("/static/images/background.jpg");
  background-size: cover;
  text-align: center;
}
#profile-photo{
  width: 17vmax;
  margin-top: 15vh;
  border-radius: 50%;
}
#name{
  padding-top: 3vh;
  color:var(--name-color);
  font-size: 60px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#Employment-Section{
  padding-top:50px;
  background-color: var(--light-background-color);
}
#Projects-Section{
  background-color: var(--dark-background-color);
}
#Education-Section{
  background-color: var(--light-background-color);
}
#Resume-Section{
  background-color: var(--dark-background-color)
}
#Contact-Section{
  height:27vh;
  width: 100%;
  background-image: url("/static/images/background-bottom.jpg");
  background-size: cover;
  text-align: center;
}

#resume{
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%
}
#resume-container{
  max-width: 700px !important;
  padding-top: 130%;
  position: relative;
  margin-bottom: 10%;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}
.download-link{
  text-align: center;
  flex-direction: row;
  flex-grow: 1;
}
a{
  color:var(--dark-text-color);
  text-decoration: none;
}
.external-link:hover{
  opacity: 0.6;
  color: var(--highlight-color);
}

.heading{
  color: var(--medium-text-color);
  font-size: var(--heading-font-size);
}
.section-heading{
  font-size: var(--section-heading-font-size);
  color: var(--dark-text-color);
}
.section-heading:before{
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  height: 4px;
  width: 200px;
  content: '';
  background-color: var(--light-element-color);
}

.anchor {
  display: block;
  position: relative;
  opacity: 0;
  z-index: -1;
  top:-45;
}

button{
  font-size: var(--normal-font-size);
  color: var(--light-text-color);
}

.floating-button{
  color: var(--dark-text-color);
  background-color: var(--light-element-color);
  opacity: 0.7;
  padding:20px;
  border: none;
  border-radius: 6px;
  transition: .2s ease-in-out;
}
.floating-button:hover{
  color: var(--dark-text-color);
  background-color: var(--lightest-element-color);
  opacity: 1;
}
.floating-button:active{
  background-color: white;
}

.accordion {
  background-color: var(--light-element-color);
  color: var(--dark-text-color);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
}
.accordion:hover {
  background-color: var(--dark-element-color);
}
.panel {
  transition: max-height 0.5s;
  max-height: 0;
  padding: 0 18px;
  margin: 0;
  background-color: var(--lightest-element-color);
  overflow: hidden;
  border: none;
}
.accordion:after {
  content: '+';
  font-size: 30px;
  color: var(--dark-text-color);
  float: right;
  transition: transform 0.5s;
}
.accordion:focus::after{
  transform: rotate(45deg);
}
.accordion + .panel:active,.accordion:focus + .panel,.panel:active{
  max-height: 250px;
}
