html{
    background: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#grey{
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100%;

  background: grey;
  opacity: 0;
  transition: 0.5s;

  visibility: collapse;

  z-index: 4;
}

#contact-popup{
  z-index: 5;

  position: fixed;
  left:50%;
  top:15%;
  transition: 0.5s;
  transform: translate(-50%, 0);

  max-width: 0;
  overflow: hidden;
  white-space: nowrap;

  height: inline-block;
  padding-bottom: 20px;
  background:rgb(254,254,254);

  font-size: 25px;
  text-align: center;
  font-weight: bolder;
}
#close-window-icon{
  right:0;
  position: absolute;
  padding:10px;
  height: 30px;
  transform: rotate(0);
  transition: 0.5s  cubic-bezier(0.19, 1, 0.22, 1);
}
#close-window-icon:hover{
  transform: rotate(-90deg);
}
#linkedin-logo{
  height: 30px;
}

.shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#menu-bar{
  z-index: 2;
  position: fixed;
  background: white;
  top:0;
  left:0;
  width: 100%;
  padding: 6px;
  text-align: center;
}
#menu-bar-container{
  max-width: 2000px;
}
.menu-link{
  text-align: center;
  display: inline;
  padding: 6px;
  width: 20%;
  cursor:pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#home-icon{
  padding-right: 5px;
  margin-bottom: -2px;
  height:22px;
}
#menu-underline{
    position: static;
    height: .25rem;
    margin:0;
    background: tomato;
    transition: .3s ease-in-out;
    visibility: hidden;
    width: 0;
}

#one:hover ~ #menu-underline {
  visibility: visible;
  margin-left: 3%;
  width: 120px;
}
#two:hover ~ #menu-underline {
  visibility: visible;
  margin-left: 17%;
  width: 180px;
}
#three:hover ~ #menu-underline {
  visibility: visible;
  margin-left: 35%;
  width: 120px;
}
#four:hover ~ #menu-underline {
  visibility: visible;
  margin-left: 50%;
  width: 120px;
}
#five:hover ~ #menu-underline {
  visibility: visible;
  margin-left: 66%;
  width: 120px;
}
#six:hover ~ #menu-underline {
  visibility: visible;
  margin-left: 82%;
  width: 120px;
}

body{
  font-family: "Raleway",sans-serif;
  text-decoration: none;
  font-weight: 600;
  padding: 0;
  margin: 0;
}
#body-content{
  padding: 0;
}

.body-section{
  width: 100%;
  z-index: 1;
  padding: 0;
  margin: 0;
  top:0;
  bottom: 0;
  overflow: hidden;
}
.width-controlled{
  width:700px;
  z-index: 1;
  padding:0;
  margin: auto;
}

#Homepage-Section{
  height:100%;
  width: 100%;
  background-image: url("/static/images/background.jpg");
  background-size: cover;
  text-align: center;
}
#profile-photo{
  width: 17vmax;
  margin-top: 15vh;
  border: 2px solid rgba(256,256,256,0.9);
  border-radius: 50%;
}
#name{
  padding-top: 5vh;
  color:white;
  font-weight: 800;
  font-size: 60px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#Projects-Section{
  background-color: #cee2eb;
}

#resume{
  z-index: 1;
  height: 910;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.download-link{
  text-align: center;
  flex-direction: row;
  flex-grow: 1;
}

a{
  color:black;
  text-decoration: none;
}
.external-link:hover{
  opacity: 0.6;
  color: #2566C9;
}

.clickable:hover{
  opacity: 0.7;
  cursor: pointer;
}


.heading{
  font-weight: 800;
  font-size: 22px;
}


.anchor {
  display: block;
  position: relative;
  opacity: 0;
  z-index: -1;
  top:-105;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
}
.accordion:hover {
  background-color: #ccc;
}
.panel {
  transition: max-height 0.5s;
  max-height: 0;
  padding: 0 18px;
  margin: 0;
  color:black;
  background-color: white;
  overflow: hidden;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: grey;
  float: right;
}

.accordion:focus::after{
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.accordian + .panel:active,.accordion:focus + .panel,.panel:active{
  max-height: 300px;;
}
