html{
    background: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#grey{
  position: fixed;
  top:0;
  left:0;

  width: 120%;
  height: 120%;
  background-color: grey;
  opacity: 0.6;

  visibility: collapse;

  z-index: 3;
}

#contact-popup{
  visibility:collapse;
  z-index: 4;
  position: fixed;
  height: inline-block;
  width: 400px;
  margin-top: -150px;
  margin-left: -200px;
  left:50%;
  top:30%;
  font-size: 25px;
  text-align: center;
  font-weight: bolder;
  padding-bottom: 20px;
  background:rgb(254,254,254);
  box-shadow:3px 3px 4px #999;
}
#close-window-icon{
  right:0;
  position: absolute;
  padding:10px;
  height: 30px;
}
#linkedin_logo{
  height: 30px;
}


#menu-bar{
  z-index: 2;
  position: fixed;
  background: white;
  top:0;
  left:0;
  width: 100%;
  padding-bottom: 6px;
  height:inline-block;
}
#title{
  font-size: 50px;
  display:inline;
  white-space: nowrap;
  left:20px;
}

.heading-link{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  display: inline-block;
  position: relative;
  float: left;
  width:inline-block;
  margin-left: 40px;
  margin-right: 40px;
  size:inline-block;

  padding-bottom: 3px;
  font-size: 20px;
  font-weight: bold;

  cursor:pointer;
}
.heading-link:after {
  position: relative;
  content: '';
  display: block;
  margin: auto;
  margin-top: 3;
  height: 2px;
  width: 0;
  transition: 0.5s  cubic-bezier(0.19, 1, 0.22, 1);
  background: #2566C9;
}
.heading-link:hover:after{
  visibility: visible;
  opacity: 1;
	width: 100%;
	background: #2566C9;
}


body{
  font-family: "Raleway",sans-serif;
  text-decoration: none;
}
#body-text{
  display: inline-block;
  position: relative;
  width:700px;
  z-index: 1;
  float: left;
}

a{
  color:black;
  text-decoration: none;
}
.external-links{
  target="_blank";
}
.external-links:hover{
  font-weight:lighter;
}

.clickable:hover{
  opacity: 0.75;
  cursor: pointer;
}

.subheading{
  font-weight: bold;
}
.subheading:hover{
  color:#2566C9 !important;
}



.anchor {
  display: block;
  position: relative;
  opacity: 0;
}
/*#anchor1{top:0px;}
#anchor2{top:0px;}
#anchor3{top:0px;}
#anchor4{top:0px;}*/
