<!--


Trying to figure out whether this is bootstrap? It's written all from scratch :)


-->


<!DOCTYPE html>
<html>
  <head>
   <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162045997-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-162045997-1');
    </script>

    <title>Aeden Gasser-Brennan</title>
    <script src="{{url_for('static', filename='javascript/jquery-1.9.1.min.js')}}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700&display=swap" rel="stylesheet">

    <script src="{{url_for('static', filename='plugins/jquery.scrollTo.min.js')}}"></script>
    <script src="{{url_for('static', filename='plugins/jquery.localScroll.min.js')}}"></script>

    <script src="{{url_for('static', filename='javascript/index.js')}}"></script>
    </head>

  <body>

    <div id = "menu-bar">
      <div>
        <a class = "menu-link heading" href = "#Homepage"><img class = "clickable" id = "home-icon" src="{{url_for('static', filename='images/home-icon.svg')}}"></a>
        <a class = "menu-link heading" href = "#Education">Education</a>
        <a class = "menu-link heading" href = "#Skills">Skills</a>
        <a class = "menu-link heading" href = "#Employment">Employment</a>
        <a class = "menu-link heading" href = "#Projects">Projects</a>
        <a class = "menu-link heading" href = "#Contact">Contact</a>
        <div id = "menu-underline"></div>
      </div>
    </div>

    <div id = "body-content">

      <div id = "Homepage-Section" class = "body-section">
          <a class = "anchor" name="Homepage">a</a>
          <img id = "profile-photo" class = "shadow" src = "{{url_for('static', filename='images/profile-photo.JPG')}}">
          <span id = "name">Aeden Gasser-Brennan</span>
          <span class = "button-container">
            <a target="_blank" href = "{{url_for('static', filename='documents/resume.pdf')}}"><div class = "floating-button"><img class = "icon" src = "{{url_for('static', filename='images/document-icon.png')}}">RESUME</div></a>
            <a href = "mailto:aedengb@gmail.com"><div class = "floating-button"><img class = "icon" src = "{{url_for('static', filename='images/mail-icon.png')}}">EMAIL</div></a>
            <a target="_blank" href = "https://www.linkedin.com/in/aedengasserbrennan/"><div class = "floating-button"><img class = "icon" src = "{{url_for('static', filename='images/linkedin-icon.png')}}">LINKEDIN</div></a>
          </span>
      </div>

      <div id = "Education-Section" class = "body-section">
        <div class = "text-container">
          <a class = "anchor" name="Education">a</a>
          <a class = "section-heading" href = "#Education">Education</a>

          <p>
            <a class = "inline-image" target="_blank" href = "https://engineering.berkeley.edu/"><img class = "inline-image" src = "{{url_for('static', filename='images/berkeley-engineering-logo.jpg')}}"></a>
            I am currently a Freshman in the <a class = "inline-link" target="_blank" href = "https://engineering.berkeley.edu/">UC Berkeley College of Engineering<a> pursuing a B.S.E. in Mechanical Engineering, with an intended double major in Applied Mathematics, in the <a class = "inline-link" target="_blank" href = "https://ls.berkeley.edu/">UC Berkeley College of Letters & Sciences</a>.
          </p>
          <p>
            I have been awarded the <a class = "inline-link" target="_blank" href = "https://financialaid.berkeley.edu/regents-and-chancellors-scholarship">UC Berkeley Regents Scholarship<a>, given to the top 2% of every UC Berkeley class. On campus, I lead the Vehicle Dynamics subteam of the <a class = "inline-link" target="_blank" href = "https://fsae.berkeley.edu/">Formula SAE Team</a>. I am also a research assistant in the <a class = "inline-link" target="_blank" href = "https://taflab.berkeley.edu/">Berkeley Theoretical and Applied Fluid Dynamics Laboratory<a>.

          </p>
          <p>
            In high school, I was a <a class = "inline-link" target="_blank" href = "https://educationaladvancement.org/blog-announcing-the-2014-caroline-d-bradley-scholars/">Caroline D. Bradley Scholar<a>, which paid four years of private high school tuition at <a class = "inline-link" target="_blank" href = "https://hw.com">Harvard Westlake<a>.
          </p>

        </div>
      </div>

      <div id = "Skills-Section" class = "body-section">
        <div class = "text-container">
          <a class = "anchor" name="Skills">a</a>
          <div class = "column">
            <a class = "section-heading" href = "#Skills">Skills<br></a>
            <a class = "anchor" name="CAD-Software">a</a>
            <a class = "heading" href = "#CAD-Software">CAD Software</a>
            <p class = "condensed">
              Solidworks - <a class = "inline-link" target="_blank" href = "{{url_for('static', filename='documents/CSWA-certification.pdf')}}">CSWA Certified</a><br>
              Fusion 360<br>
              Autodesk Inventor<br>
              Solidworks PDM<br>
              Grabcad<br>
            </p>
            <a class = "anchor" name="Machining-Experience">a</a>
            <a class = "heading" href = "#Machining-Experience">Shop Experience</a>
            <p class = "condensed">
              3-Axis Manual Mill<br>
              3D Printing<br>
              <span class = "tab condensed"> mSLA and SLA - glass-filled & engineering resins</span><br>
              <span class = "tab condensed"> FDM  - composites & high temp plastics</span><br>
              3, 5-axis CNC Mill<br>
              Laser Cutter<br>
              Waterjet<br>
              CNC Lathe<br>
              CNC Brake Press<br>
            </p>
            <a class = "anchor" name="Programming-Languages">a</a>
            <a class = "heading" href = "#Programming-Languages">Programming/Markup Languages</a>
            <p class = "condensed">
              MATLAB/ GNU Octave<br>
              Simulink<br>
              Python<br>
              C<br>
              Java<br>
              JavaScript<br>
              HTML/CSS<br>
              LATEX<br>
            </p>
          </div>
          <div class = "column">
            <a class = "section-heading" href = "#Skills">Relevant Coursework</a>
            <div class = "inline-object">
                <div class="accordion">Fall 2019</div>
                  <div class="panel">
                      <p><a class = "external-link" target="_blank" href = "https://classes.berkeley.edu/content/2019-fall-engin-25-001-lec-001"><b>ENGIN 25</b> Visualization for Design</a></p>
                      <p><a class = "external-link" target="_blank" href = "https://classes.berkeley.edu/content/2019-fall-math-54-003-lec-003"><b>MATH 54</b> Linear Algebra and Diffrential Equations</a></p>
                      <p><a class = "external-link" target="_blank" href = "https://classes.berkeley.edu/content/2019-fall-chem-1a-002-lec-002"><b>CHEM 1A</b> General Chemistry</a></p>
                      <p><a class = "external-link" target="_blank" href = "https://classes.berkeley.edu/content/2019-fall-chem-1al-001-lec-001"><b>CHEM 1AL</b> General Chemistry Laboratory</a></p>
                      <p><a class = "external-link" target="_blank" href = "https://classes.berkeley.edu/content/2019-fall-german-1-006-lec-006"><b>GERMAN 1</b> Introductory German 1</a></p>
                  </div>
                  <div class="accordion">Spring 2020</div>
                    <div class="panel">
                      <p><a class = "external-link" target="_blank" href = "https://classes.berkeley.edu/content/2020-spring-engin-7-001-lec-001"><b>ENGIN 7</b> Introduction to Programming for Scientists and Engineers</a></p>
                      <p><a class = "external-link" target="_blank" href = "https://classes.berkeley.edu/content/2020-spring-math-53-001-lec-001"><b>MATH 53</b> Multivariable Calculus</a></p>
                      <p><a class = "external-link" target="_blank" href = "https://classes.berkeley.edu/content/2020-spring-physics-7b-001-lec-001"><b>PHYSICS 7B</b> Physics for Scientists and Engineers</a></p>
                      <p><a class = "external-link" target="_blank" href = "https://classes.berkeley.edu/content/2020-spring-german-2-002-lec-002"><b>GERMAN 2</b> Introductory German 2</a></p>
                    </div>
                <div class="accordion">Summer 2020</div>
                  <div class="panel">
                      <p><a class = "external-link" target="_blank" href = "https://classes.berkeley.edu/content/2020-summer-meceng-132-001-lec-001"><b>MECENG 132</b> Dynamic Systems and Feedback</a></p>
                  </div>
                <div class="accordion last expanded">Spring 2021</div>
                  <div class="panel last expanded">
                      <p><a class = "external-link" target="_blank" href = "https://classes.berkeley.edu/content/2021-spring-meceng-c85-002-lec-002"><b>MECENG C85</b> Introduction to Solid Mechanics</a></p>
                      <p><a class = "external-link" target="_blank" href = "https://classes.berkeley.edu/content/2021-spring-meceng-40-001-lec-001"><b>MECENG 40</b> Thermodynamics</a></p>
                      <p><a class = "external-link" target="_blank" href = "https://classes.berkeley.edu/content/2021-spring-meceng-102b-001-lec-001"><b>MECENG 102B</b> Mechatronics Design</a></p>
                      <p><a class = "external-link" target="_blank" href = "https://classes.berkeley.edu/search/class/ENGIN26?f%5B0%5D=im_field_term_name%3A2010&retain-filters=1"><b>ENGIN 26</b> Three-Dimensional Modeling for Design</a></p>
                  </div>
            </div>
          </div>
        </div>
      </div>

      <div id = "Employment-Section" class = "body-section">
        <div class = "text-container">
          <a class = "anchor" name="Employment">a</a>
          <a class = "section-heading" href = "#Employment">Employment</a>

          <a class = "anchor" name="Wavemaker-Labs">a</a>
          <a class = "heading" href = "#Wavemaker-Labs">Wavemaker Labs <span class = "heading-detail">- Mechanical Engineering Intern</span></a>
          <p>
            During the Spring of 2020, I was a Mechanical Engineering Intern at <a class = "inline-link" target="_blank" href = "https://www.wavemakerlabs.com/">Wavemaker Labs<a>. I was mostly involved with <a class = "inline-link" target="_blank" href = "https://www.grazemowing.com/">Graze</a>, an autonomous industrial lawn mower.
            I helped design the drive system kinematics, trying to minimize lateral motion of the blade deck, even when turning. I also worked on the path-planning algorithm for the mower, which, in addition to deciding on an optimal gras-cutting path, reacted to
            obstacles and re-routed itself to correct for them. To determine what slopes the mower was stable on, and to estimate loads on various mower components, I wrote a static model for the mower that calculated wheel loads based on the positions of the heaviest components inside the chassis.
          </p>
          <div class="inline-object-small">
                <img class = "inline-object-small" src = "{{url_for('static', filename='images/graze.png')}}">
                <figcaption>Graze Mower</figcaption>
          </div>

          <a class = "anchor" name="Freelance-CAD">a</a>
          <a class = "heading" href = "#Freelance-CAD">Freelance CAD</a>
          <p>
            I am currently accepting proposals to do small CAD projects. Here is some of my past work.
          </p>
          <div class="inline-object-small carousel-container">
            <a class="left disabled">&#10094;</a>
            <a class="right">&#10095;</a>
            <div index = "0" class = "slide-container" max_index = "5">
              <div class = "slide">
                <img class = "slide-image" src = "{{url_for('static', filename='images/silencer-cutaway.png')}}">
                <figcaption>A cutaway of a firearm silencer designed for a client.<br><br><br></figcaption>
              </div>
              <div class = "slide">
                <img class = "slide-image" src = "{{url_for('static', filename='images/facemask-render.JPG')}}">
                <figcaption>A medical facemask I designed for a client. The majority of the mask is made of clear plastic so that facial expressions are still visible to others.</figcaption>
              </div>
              <div class = "slide">
                <img class = "slide-image" src = "{{url_for('static', filename='images/go-pro-mount.JPG')}}">
                <figcaption>A Gopro mount for football helmets I designed for a client. The entire mount is made from just two simple sheet metal parts, and weighs less than 0.15 lbs.</figcaption>
              </div>
              <div class = "slide">
                <img class="slide-image" src = "{{url_for('static', filename='images/jewlery-box-render.png')}}">
                <figcaption>A Jewlery Box with a locking iris mechanism below the main tray. <br><br><br></figcaption>
              </div>
              <div class = "slide">
                <img class="slide-image" src = "{{url_for('static', filename='images/phone-case.JPG')}}">
                <figcaption>A plastic iPhone case desinged for a client.<br><br><br></figcaption>
              </div>
            </div>
          </div>


          <a class = "anchor" name="TAFLab-Research">a</a>
          <a class = "heading" href = "#TAFLab-Research">TAFLab <span class = "heading-detail">- Research Apprentice</span></a>
          <p>
            <a class = "inline-image" target="_blank" href = "https://taflab.berkeley.edu/"><img class = "inline-image" src = "{{url_for('static', filename='images/taflab-logo.jpg')}}"></a>
            I am currently an undergraduate research apprentice in the <a class = "inline-link" target="_blank" href = "https://taflab.berkeley.edu/">Berkeley Theoretical and Applied Fluid Dynamics Laboratory<a>.
              I am a member of a team working on the US Department of Energy <a class = "inline-link" target="_blank" href = "https://americanmadechallenges.org/wavestowater/">Waves to Water Prize</a>.
              My first contribution to the project was a
              <a class = "inline-link" target="_blank" href = 'https://github.com/AedenGB/WavesToWaterSimulator/tree/master/time%20domain%20Fall%202020'>simulator in Matlab</a>
              that computed time-domain results for a rotary pump connected to a floating wave energy absorber. Using this simulator, I made an optimizer to determine the optimal
              flywheel weight, and spool diameter to maximize the energy capture of our pumping system at various wave frequencies and amplitudes.
              Most recently, I have been working on
              <a class = "inline-link" target="_blank" href = 'https://github.com/AedenGB/WavesToWaterSimulator/tree/master/rotary%20piston%20pump%20resistance%20simulator%20Spring%202020'>software</a> to choose the exact parameters for a custom high-pressure rotary water pump that we are constructing.
              The sizes and positions of pistons on a crankshaft are optimized so that we can adapt the pump’s displacement easily to changing ocean conditions. </p>
          <div class = "inline-button-container">
            <a target="_blank" href = "{{url_for('static', filename='documents/pto-simulation-report.pdf')}}"><div class = "floating-button"><img class = "icon" src = "{{url_for('static', filename='images/document-icon.png')}}">SIMULATOR RESULTS</div></a>
            <a target="_blank" href = "{{url_for('static', filename='documents/pump-simulation-report.pdf')}}"><div class = "floating-button"><img class = "icon" src = "{{url_for('static', filename='images/document-icon.png')}}">PUMP RESULTS</div></a>
            <a target="_blank" href = "https://github.com/AedenGB/WavesToWaterSimulator"><div class = "floating-button"><img class = "icon" src = "{{url_for('static', filename='images/github-icon.png')}}">SIMULATOR REPO</div></a>
          </div>
          <div class="inline-object-small carousel-container">
            <a class="left disabled">&#10094;</a>
            <a class="right">&#10095;</a>
            <div index = "0" class = "slide-container" max_index = "4">
              <div class = "slide">
                <img class = "slide-image" src = "{{url_for('static', filename='images/diagram-taflab.png')}}">
                <figcaption>A diagram of our current system design.</figcaption>
              </div>
              <div class = "slide">
                <img class="slide-image" src = "{{url_for('static', filename='images/time-domain-taflab.png')}}">
                <figcaption>Simulated pump angular velocity vs. time.</figcaption>
              </div>
              <div class = "slide">
                <img class="slide-image" src = "{{url_for('static', filename='images/optimal-spool-taflab.png')}}">
                <figcaption>Optimal spool radii for various conditions.</figcaption>
              </div>
              <div class = "slide">
                <img class="slide-image" src = "{{url_for('static', filename='images/optimal-flywheel-taflab.png')}}">
                <figcaption>Optimal flywheel moment-of-inertia for various conditions.</figcaption>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div id = "Projects-Section" class = "body-section">
        <div class = "text-container">
          <a class = "anchor" name="Projects">a</a>
          <a class = "section-heading" href = "#Projects">Projects</a>

          <a class = "anchor" name="Plastic-Harmonic-Drive">a</a>
          <a class = "heading" href = "#Plastic-Harmonic-Drive">Plastic Harmonic Drive Development</a>
            <p>
              Since June 2020, a friand and I have been working on making the worlds best plastic harmonic drive. We have experimented primarily with 3D printed prototypes, made of ABS, PLA, CF-impregnated-Nylon, and various photopolymers printed with several different SLA Printers.
              Our current prototype is a zero-backlash gearbox weighing less than 100g, with output torque around 50 Nm. The tooth profiles are a new design, with a point-cloud computed specifically for maximum tooth contact on a harmonic drive.
            </p>
            <div class="inline-object-small carousel-container">
              <a class="left disabled">&#10094;</a>
              <a class="right">&#10095;</a>
              <div index = "0" class = "slide-container" max_index = "3">
                <div class = "slide">
                  <img class = "slide-image" src = "{{url_for('static', filename='images/harmonic-drive-teeth-video.gif')}}">
                  <figcaption>Tooth operation when turning the gearbox by hand (30x magnification).<br><br></figcaption>
                </div>
                <div class = "slide">
                  <img class="slide-image" src = "{{url_for('static', filename='images/harmonic-drive-render.png')}}">
                  <figcaption>Cross section of the most current cad. An off-the-shelf flexible ball bearing is not included here.</figcaption>
                </div>
                <div class = "slide">
                  <img class = "slide-image" src = "{{url_for('static', filename='images/harmonic-drive-profiles.png')}}">
                  <figcaption>Wave-generator, flex spline, and fixed spline teeth profiles, computed from desired ratio and gearbox OD.</figcaption>
                </div>
              </div>
            </div>

          <a class = "anchor" name="Formula-Racing">a</a>
          <a class = "heading" href = "#Formula-Racing">Formula Racing <span class = "heading-detail">- Vehicle Dynamics Team Lead</span></a>
            <p>
              I lead the Vehicle Dynamics subteam of the Berkeley <a class = "inline-link" target="_blank" href = "https://fsae.berkeley.edu/">Formula SAE Team.</a> I am responsible for managing the VD subsystem, which designs the car’s suspension geometry, runs all testing and simulation of the car, and produces overall vehicle design specs, such as tire compound/size, final drive ratio, CP location, and much more. In my time on the team, I have redesigned our compliance testing procedures, added tire-temperature modeling to our in-house lap simulation software, and designed several new tools to analyze dynamic testing data. Recently, I designed an addition to team car-simulation software to evaluate an electronic brake-bias-by-speed system currently being considered for the car.
            </p>
            <div class="inline-object-small">
                  <img class = "inline-object-small" src = "{{url_for('static', filename='images/AEBBS-points.png')}}">
            </div>

          <a class = "anchor" name="Battlebots">a</a>
          <a class = "heading" href = "#Battlebots">Battlebots</a>
            <p>
              <img class = "inline-image" src = "{{url_for('static', filename='images/shellshock.png')}}">
              I competed in Battlebots 2020 with team ShellShock. Our robot was a circular chassis surrounded by a 150lb steel dome spinning 3000rpm. The robot also used electromagnets and retractable wheels to fix itself to the steel floor with over a 1000lbs of force to avoid getting flipped.
              I helped with the CAD design of the chassis and the retractable wheels, which were springloaded so that under normal load they lifted us just above the ground, while with the electromagnets on they fully retracted into the chassis.
              <div class = "inline-object-small"><img class = "inline-object-small" src = "{{url_for('static', filename='images/battlebot-cad.png')}}">
              <figcaption>CAD of the robot with the steel shell removed.</figcaption>
              </div>
            </p>

          <a class = "anchor" name="FRC-Robotics">a</a>
          <a class = "heading" href = "#FRC-Robotics">FRC Robotics</a>
            <p>
              I competed as a member <a class = "inline-link" target="_blank" href = "https://www.nohorobo.com/">FIRST Robotics Team 3328</a> from 2016-2019. In my final year, I was captain of the design team, and cadded the majority of the robot. The robot made extensive use of custom-designed gearboxes, and the sheet metal manufacturing capabilities new to the team that year.
              <div class = "inline-object-small"><img class = "inline-object-small" src = "{{url_for('static', filename='images/FRC-render.png')}}">
              <figcaption>CAD of the 2018-2019 robot.</figcaption>
              </div>
            </p>

          <a class = "anchor" name="VEX-Robotics">a</a>
          <a class = "heading" href = "#VEX-Robotics">VEX Robotics</a>
            <p>
              I founded <a class = "inline-link" target="_blank" href = "http://6007x.us">VEX team 6007X</a> back in 2013. In the team's six years of competition, we won numerous awards, including ranking 5th in the world among high school teams in 2017. The team has left a lasting impact on the competition, with our mentorship of younger teams, and through the many techniques we pioneered in VEX.
            </p>
            <div class = "inline-object">
              <iframe class = "inline-object" width="900" height="535" src="https://www.youtube.com/embed/XSXmZhB-8sU?rel=0&amp;fs=0&amp;showinfo=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>


        </div>
      </div>

      <div id = "Contact-Section" class = "body-section">
          <a class = "anchor" name="Contact">a</a>
          <div class = "contact-button-container">
            <a href = "mailto:aeden.gb@gmail.com"><div class = "floating-button"><img class = "icon" src = "{{url_for('static', filename='images/mail-icon.png')}}">AEDEN.GB@GMAIL.COM</div></a>
            <a href = "mailto:aedengb@berkeley.edu"><div class = "floating-button"><img class = "icon" src = "{{url_for('static', filename='images/mail-icon.png')}}">AEDENGB@BERKELEY.EDU</div></a>
            <a target="_blank" href = "{{url_for('static', filename='documents/resume.pdf')}}"><div class = "floating-button"><img class = "icon" src = "{{url_for('static', filename='images/document-icon.png')}}">RESUME</div></a>
            <a target="_blank" href = "https://www.linkedin.com/in/aedengasserbrennan/"><div class = "floating-button"><img class = "icon" src = "{{url_for('static', filename='images/linkedin-icon.png')}}">LINKEDIN</div></a>
            <a target="_blank" href = "https://github.com/AedenGB"><div class = "floating-button"><img class = "icon" src = "{{url_for('static', filename='images/github-icon.png')}}">GITHUB</div></a>
          </div>
      </div>

    </div>

  </body>
</html>
