<!DOCTYPE html>
<html>
  <head>
    <title>Aeden Gasser-Brennan</title>
    <script src="{{url_for('static', filename='javascript/jquery-1.9.1.min.js')}}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700&display=swap" rel="stylesheet">

    <script src="{{url_for('static', filename='plugins/jquery.scrollTo.min.js')}}"></script>
    <script src="{{url_for('static', filename='plugins/jquery.localScroll.min.js')}}"></script>

    <script src="{{url_for('static', filename='javascript/index.js')}}"></script>
    </head>

  <body>

    <div id = "menu-bar">
      <div>
        <a class = "menu-link heading" href = "#Homepage"><img class = "clickable" id = "home-icon" src="{{url_for('static', filename='images/home-icon.svg')}}"></a>
        <a class = "menu-link heading" href = "#Education">Education</a>
        <a class = "menu-link heading" href = "#Skills">Skills</a>
        <a class = "menu-link heading" href = "#Employment">Employment</a>
        <a class = "menu-link heading" href = "#Projects">Projects</a>
        <a class = "menu-link heading" href = "#Contact">Contact</a>
        <div id = "menu-underline"></div>
      </div>
    </div>

    <div id = "body-content">

      <div id = "Homepage-Section" class = "body-section">
          <a class = "anchor" name="Homepage">a</a>
          <img id = "profile-photo" class = "shadow" src = "{{url_for('static', filename='images/profile-photo.JPG')}}">
          <span id = "name">Aeden Gasser-Brennan</span>
          <span class = "button-container">
            <a target="_blank" href = "{{url_for('static', filename='documents/resume.pdf')}}"><div class = "floating-button"><img class = "icon" src = "{{url_for('static', filename='images/document-icon.png')}}">RESUME</div></a>
            <a href = "mailto:aedengb@gmail.com"><div class = "floating-button"><img class = "icon" src = "{{url_for('static', filename='images/mail-icon.png')}}">EMAIL</div></a>
            <a target="_blank" href = "https://www.linkedin.com/in/aedengasserbrennan/"><div class = "floating-button"><img class = "icon" src = "{{url_for('static', filename='images/linkedin-icon.png')}}">LINKEDIN</div></a>
          </span>
      </div>

      <div id = "Education-Section" class = "body-section">
        <div class = "text-container">
          <a class = "anchor" name="Education">a</a>
          <a class = "section-heading" href = "#Education">Education</a>

          <p>
            <a class = "inline-image" target="_blank" href = "https://engineering.berkeley.edu/"><img class = "inline-image" src = "{{url_for('static', filename='images/berkeley-engineering-logo.jpg')}}"></a>
            I am currently a Freshman in the <a class = "inline-link" target="_blank" href = "https://engineering.berkeley.edu/">UC Berkeley College of Engineering<a> pursuing a B.S.E. in Mechanical Engineering, with an intended double major in Applied Mathematics, in the <a class = "inline-link" target="_blank" href = "https://ls.berkeley.edu/">UC Berkeley College of Letters & Sciences</a>.
          </p>
          <p>
            I have been awarded the <a class = "inline-link" target="_blank" href = "https://financialaid.berkeley.edu/regents-and-chancellors-scholarship">UC Berkeley Regents Scholarship<a>, given to the top 2% of every UC Berkeley class. On campus, I am a member of the <a class = "inline-link" target="_blank" href = "https://asme.berkeley.edu/">Berkeley Chapter</a> of the American Society of Mechanical Engineers, as well as the school <a class = "inline-link" target="_blank" href = "https://fsae.berkeley.edu/">Formula SAE Team</a>. I am also a research assistant in the <a class = "inline-link" target="_blank" href = "https://taflab.berkeley.edu/">Berkeley Theoretical and Applied Fluid Dynamics Laboratory<a>.

          </p>
          <p>
            In high school, I was a <a class = "inline-link" target="_blank" href = "https://educationaladvancement.org/blog-announcing-the-2014-caroline-d-bradley-scholars/">Caroline D. Bradley Scholar<a>, which paid four years of private high school tuition at <a class = "inline-link" target="_blank" href = "https://hw.com">Harvard Westlake<a>.
          </p>

        </div>
      </div>

      <div id = "Skills-Section" class = "body-section">
        <div class = "text-container">
          <a class = "anchor" name="Skills">a</a>
          <div class = "column">
            <a class = "section-heading" href = "#Skills">Skills<br></a>
            <a class = "anchor" name="CAD-Software">a</a>
            <a class = "heading" href = "#CAD-Software">CAD Software</a>
            <p class = "condensed">
              Autodesk Inventor<br>
              Solidworks<br>
              Grabcad<br>
              Autodesk Vault<br>
            </p>
            <a class = "anchor" name="Machining-Experience">a</a>
            <a class = "heading" href = "#Machining-Experience">Machining Experience</a>
            <p class = "condensed">
              3, 5-axis CNC Mill<br>
              Laser Cutter<br>
              Waterjet<br>
              3D Printer<br>
              CNC Lathe<br>
              CNC Brake Press<br>
            </p>
            <a class = "anchor" name="Programming-Languages">a</a>
            <a class = "heading" href = "#Programming-Languages">Programming/Markup Languages</a>
            <p class = "condensed">
              MATLAB<br>
              Python<br>
              Java<br>
              JavaScript<br>
              HTML/CSS<br>
              LATEX<br>
            </p>
          </div>
          <div class = "column">
            <a class = "section-heading" href = "#Skills">Relevant Coursework</a>
            <div class = "inline-object">
                <div class="accordion expanded">Fall 2019</div>
                  <div id = "hi" class="panel expanded">
                      <p><a class = "external-link" target="_blank" href = "https://classes.berkeley.edu/content/2019-fall-engin-25-001-lec-001"><b>ENGIN 25</b> Visualization for Design</a></p>
                      <p><a class = "external-link" target="_blank" href = "https://classes.berkeley.edu/content/2019-fall-math-54-003-lec-003"><b>MATH 54</b> Linear Algebra and Diffrential Equations</a></p>
                      <p><a class = "external-link" target="_blank" href = "https://classes.berkeley.edu/content/2019-fall-chem-1a-002-lec-002"><b>CHEM 1A</b> General Chemistry</a></p>
                      <p><a class = "external-link" target="_blank" href = "https://classes.berkeley.edu/content/2019-fall-chem-1al-001-lec-001"><b>CHEM 1AL</b> General Chemistry Laboratory</a></p>
                      <p><a class = "external-link" target="_blank" href = "https://classes.berkeley.edu/content/2019-fall-german-1-006-lec-006"><b>German 1</b> Introductory German 1</a></p>
                  </div>

                <div class="accordion last">Spring 2020</div>
                  <div class="panel last">
                      <p><a class = "external-link" target="_blank" href = "https://classes.berkeley.edu/content/2020-spring-engin-7-001-lec-001"><b>ENGIN 7</b> Introduction to Programming for Scientists and Engineers</a></p>
                      <p><a class = "external-link" target="_blank" href = "https://classes.berkeley.edu/content/2020-spring-math-53-001-lec-001"><b>MATH 53</b> Multivariable Calculus</a></p>
                      <p><a class = "external-link" target="_blank" href = "https://classes.berkeley.edu/content/2020-spring-physics-7b-001-lec-001"><b>PHYSICS 7B</b> Physics for Scientists and Engineers</a></p>
                      <p><a class = "external-link" target="_blank" href = "https://classes.berkeley.edu/content/2020-spring-german-2-002-lec-002"><b>German 2</b> Introductory German 2</a></p>
                  </div>
            </div>
          </div>
        </div>
      </div>

      <div id = "Employment-Section" class = "body-section">
        <div class = "text-container">
          <a class = "anchor" name="Employment">a</a>
          <a class = "section-heading" href = "#Employment">Employment</a>

          <a class = "anchor" name="Freelance-CAD">a</a>
          <a class = "heading" href = "#Freelance-CAD">Freelance CAD</a>
          <p>
            I am currently accepting proposals to do small CAD projects. Here is some of my past work.
          </p>
          <div class="inline-object-small carousel-container">
            <a class="left disabled">&#10094;</a>
            <a class="right">&#10095;</a>
            <div index = "0" class = "slide-container" max_index = "2">
              <div class = "slide">
                <img class = "slide-image" src = "{{url_for('static', filename='images/go-pro-mount.JPG')}}">
                <figcaption>A Gopro mount for football helmets I designed for a client. The entire mount is made from just two simple sheet metal parts, and weighs less than 0.15 lbs.</figcaption>
              </div>
              <div class = "slide">
                <img class="slide-image" src = "{{url_for('static', filename='images/phone-case.JPG')}}">
                <figcaption>A plastic iPhone case desinged for a client.<br><br><br></figcaption>
              </div>
            </div>
          </div>


          <a class = "anchor" name="TAFLab-Research">a</a>
          <a class = "heading" href = "#TAFLab-Research">TAFLab-Research</a>
          <p>
            <a class = "inline-image" target="_blank" href = "https://taflab.berkeley.edu/"><img class = "inline-image" src = "{{url_for('static', filename='images/taflab-logo.jpg')}}"></a>
            I am currently an undergraduate research assistant in the <a class = "inline-link" target="_blank" href = "https://taflab.berkeley.edu/">Berkeley Theoretical and Applied Fluid Dynamics Laboratory<a>. I am a member of a team working on the US Department of Energy <a class = "inline-link" target="_blank" href = "https://americanmadechallenges.org/wavestowater/">Waves to Water Prize</a>. This past semester, I created <a class = "inline-link" target="_blank" href = "https://github.com/AedenGB/WavesToWaterSimulator">simulator in Matlab</a> that computed time-domain results for a rotary pump connected to a floating wave energy absorber. I also wrote software to determine the optimal flywheel weight, and spool diameter to maximize the energy capture of our pumping system at various wave frequencies and amplitudes.
          </p>
          <div class = "inline-button-container">
            <a target="_blank" href = "{{url_for('static', filename='documents/pump-simulation-report.pdf')}}"><div class = "floating-button"><img class = "icon" src = "{{url_for('static', filename='images/document-icon.png')}}">REPORT ON FINDINGS</div></a>
            <a target="_blank" href = "https://github.com/AedenGB/WavesToWaterSimulator"><div class = "floating-button"><img class = "icon" src = "{{url_for('static', filename='images/github-icon.png')}}">SIMULATOR REPO</div></a>
          </div>
          <div class="inline-object-small carousel-container">
            <a class="left disabled">&#10094;</a>
            <a class="right">&#10095;</a>
            <div index = "0" class = "slide-container" max_index = "4">
              <div class = "slide">
                <img class = "slide-image" src = "{{url_for('static', filename='images/diagram-taflab.png')}}">
                <figcaption>A diagram of our current system design.</figcaption>
              </div>
              <div class = "slide">
                <img class="slide-image" src = "{{url_for('static', filename='images/time-domain-taflab.png')}}">
                <figcaption>Simulated pump angular velocity vs. time.</figcaption>
              </div>
              <div class = "slide">
                <img class="slide-image" src = "{{url_for('static', filename='images/optimal-spool-taflab.png')}}">
                <figcaption>Optimal spool radii for various conditions.</figcaption>
              </div>
              <div class = "slide">
                <img class="slide-image" src = "{{url_for('static', filename='images/optimal-flywheel-taflab.png')}}">
                <figcaption>Optimal flywheel moments for various conditions.</figcaption>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div id = "Projects-Section" class = "body-section">
        <div class = "text-container">
          <a class = "anchor" name="Projects">a</a>
          <a class = "section-heading" href = "#Projects">Projects</a>

          <a class = "anchor" name="Formula-Racing">a</a>
          <a class = "heading" href = "#Formula-Racing">Formula Racing</a>
            <p>
              I am a member of the Vehicle Dynamics subteam of the Berkeley <a class = "inline-link" target="_blank" href = "https://fsae.berkeley.edu/">Formula SAE Team.</a> In my year on the team, I have redesigned our compliance testing procedures, and been heavily involved in our suspension setup and tuning process.
            </p>
            <div class="inline-object-small">
                  <img class = "inline-object-small" src = "{{url_for('static', filename='images/tire-temp-mounts.png')}}">
                  <figcaption>Welded-steel tire temperature sensor mounts that I designed and fabricated for the 2020 car.</figcaption>
            </div>

          <a class = "anchor" name="Battlebots">a</a>
          <a class = "heading" href = "#Battlebots">Battlebots</a>
            <p>
              <img class = "inline-image" src = "{{url_for('static', filename='images/shellshock.png')}}">
              I competed in Battlebots 2020 with team ShellShock. Our robot was a circular chassis surrounded by a 150lb steel dome spinning 3000rpm. The robot also used electromagnets and retractable wheels to fix itself to the steel floor with over a 1000lbs of force to avoid getting flipped.
              I helped with the CAD design of the chassis and the retractable wheels, which were springloaded so that under normal load they lifted us just above the ground, while with the electromagnets on they fully retracted into the chassis.
              <div class = "inline-object-small"><img class = "inline-object-small" src = "{{url_for('static', filename='images/battlebot-cad.png')}}">
              <figcaption>CAD of the robot with the steel shell removed.</figcaption>
              </div>
            </p>

          <a class = "anchor" name="FRC-Robotics">a</a>
          <a class = "heading" href = "#FRC-Robotics">FRC Robotics</a>
            <p>
              hello
            </p>

          <a class = "anchor" name="VEX-Robotics">a</a>
          <a class = "heading" href = "#VEX-Robotics">VEX Robotics</a>
            <p>
              I founded <a class = "inline-link" target="_blank" href = "http://6007x.us">VEX team 6007X</a> back in 2013. In the team's six years of competition, we won numerous awards, including ranking 5th in the world among high school teams in 2017. The team has left a lasting impact on the competition, with our mentorship of younger teams, and through the many techniques we pioneered in VEX.
            </p>
            <div class = "inline-object">
              <iframe class = "inline-object" width="900" height="535" src="https://www.youtube.com/embed/XSXmZhB-8sU?rel=0&amp;fs=0&amp;showinfo=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>


        </div>
      </div>

      <div id = "Contact-Section" class = "body-section">
          <a class = "anchor" name="Contact">a</a>
          <div class = "contact-button-container">
            <a href = "mailto:aeden.gb@gmail.com"><div class = "floating-button"><img class = "icon" src = "{{url_for('static', filename='images/mail-icon.png')}}">AEDEN.GB@GMAIL.COM</div></a>
            <a href = "mailto:aedengb@berkeley.edu"><div class = "floating-button"><img class = "icon" src = "{{url_for('static', filename='images/mail-icon.png')}}">AEDENGB@BERKELEY.EDU</div></a>
            <a target="_blank" href = "{{url_for('static', filename='documents/resume.pdf')}}"><div class = "floating-button"><img class = "icon" src = "{{url_for('static', filename='images/document-icon.png')}}">RESUME</div></a>
            <a target="_blank" href = "https://www.linkedin.com/in/aedengasserbrennan/"><div class = "floating-button"><img class = "icon" src = "{{url_for('static', filename='images/linkedin-icon.png')}}">LINKEDIN</div></a>
            <a target="_blank" href = "https://github.com/AedenGB"><div class = "floating-button"><img class = "icon" src = "{{url_for('static', filename='images/github-icon.png')}}">GITHUB</div></a>
          </div>
      </div>

    </div>

  </body>
</html>
